<app-header></app-header>
<div class="container">
    <div class="box1 footer-widget-heading">
        <h3> {{"ABOUT US"|translate}}</h3>
        <br>
        <p>
            {{"ABOUTUS-1.publicKey"|translate}}
            <br><br>
            {{"ABOUTUS-2.publicKey"|translate}}
            <br><br>
            {{"ABOUTUS-3.publicKey"|translate}}
        </p>


        <!--
        <p>Major motorsport events are an integral component of Saudi Arabia’s Vision 2030 where sport plays a key
            role in the development of the three primary themes; the growth of a vibrant society, the development of
            a thriving economy and the dynamic ambitions of the Kingdom. One of the key tenets of Vision 2030 is
            long term investment in the power of sport. There is no better example of this than in the strategic
            development of long-term agreements with leading global motorsport competition.</p><br>

        <p>Already the Kingdom’s motorsport portfolio is impressive with a round of the FIA Formula 1 World
            Championship – the Saudi Arabian Formula 1 Grand Prix - the hosting of the Dakar Rally, a round of the
            Formula E World Championship alongside the Extreme E Championship and the Sharqiyah International Baja.
            And there is more to come; particularly the development of home-grown Saudi series, which will drive
            career paths for young Saudis, and a focus on the development of youth sport with initiatives such as
            the Saudi Young Stars.</p><br>

        <p>SMC is now driving a unique development program for the sport; a program focused on generating
            opportunity for young people, underlining the awareness and impact that sport provides in transcending
            borders while creating global awareness for the Kingdom of Saudi Arabia and its ability to stage
            international events.</p>-->
    </div>
    <div class="box2">
        <img class="image" src="assets/images/photo.jpg" alt="" />
    </div>

    <div class="box3">
        <img class="imageP" src="assets/images/PrinceKhalid.jpeg" alt="" />
    </div>
    <div class="box4 footer-widget-heading">
        <h3> {{"STATEMENT"|translate}} </h3>
        <br>
        <p>
            " {{"STATEMENT1.publicKey"|translate}} "
            <!--
            “It is essential that we focus our efforts on taking advantage of this incredible opportunity for the
            Kingdom via the establishment of the Saudi Motorsport Company. The establishment of SMC will allow us to
            focus our
            efforts on the consolidation and expansion of motorsport in the country and to maximize the many
            opportunities hosting these major events offer the people of Saudi Arabia.”-->
        </p>

        <h6 class="prince">
            {{"PRINCE"|translate}}
        </h6>
    </div>

    <div class="box5  footer-widget-heading">
        <h3>
            {{"OURVISION"|translate}}
        </h3> <br>
        <p>
            {{"VISION1.publicKey"|translate}}
            <br><br>
            {{"VISION2.publicKey"|translate}}
        </p>

        <!--
        <p>
            The vision of Saudi Motorsport Company is to provide a solid and robust platform for the development of the
            sport in the Kingdom of Saudi Arabia. The vision is manyfold but, crucially, it is to provide the population
            of Saudi Arabia with a range of international and regional motorsport competitions that are exciting to
            watch, provide an education about this most dynamic of sports, build a following and create an experience
            that will give access to some of the best racing and rallying in the world.</p> <br>
        <p>
            In addition SMC will provide a platform for the establishment of a motorsport-for-all programme whereby
            young girls and boys have access to two and four-wheel motorsport with the creation of racing academies.
            Finally, SMC will lead on the development of home-grown motorsport initiatives that will allow young Saudis
            to follow a career in the sport while at the same timer creating events – racing and rallying – that can be
            exported. By developing the sport, SMC is at the forefront of encouraging the growth of motorsport venues
            throughout the Kingdom; maximizing, as we do, a strong link between the sport and the community.
        </p>-->
    </div>
    <div class="box6">
        <img class="image" src="assets/images/Vision.jpg" alt="" />
    </div>
</div>
<app-footer></app-footer>