<app-header></app-header>
<div class="container">

    <div class="box2 footer-widget-heading" data-aos="fade-right" data-aos-offset="300">
        <h3>{{"JCC"|translate}}</h3>
    </div>
    <!---->
    <div class="box3" data-aos="fade-up" data-aos-offset="400">
        <img class="EventsImg" src="assets/JCC Photo/JCC1.JPG" alt="" />
    </div>
    <!---->
    <div class="box4" data-aos="fade-up" data-aos-offset="400">
        <img class="EventsImg" src="assets/JCC Photo/JCC2.jpg" alt="" />
    </div>
    <!---->
    <div class="box5" data-aos="fade-up" data-aos-offset="400">
        <img class="EventsImg" src="assets/JCC Photo/JCC3.JPG" alt="" />
    </div>

    <!---->
    <div class="box6" data-aos="fade-up" data-aos-offset="400">
        <img class="EventsImg" src="assets/JCC Photo/JCC4.jpeg" alt="" />
    </div>

    <!---->
    <div class="box7" data-aos="fade-up" data-aos-offset="400">
        <img class="EventsImg" src="assets/JCC Photo/JCC7.jpg" alt="" />
    </div>
    <!---->
    <div class="box8" data-aos="fade-up" data-aos-offset="400">
        <img class="EventsImg" src="assets/JCC Photo/JCC6.jpeg" alt="" />
    </div>
</div>
<app-footer></app-footer>