<div class="container">

    <div class="boxVision footer-widget-heading" data-aos="fade-down" data-aos-offset="300">
        <h3>
            {{"VISION"|translate}}
        </h3>
        <p>
            " {{"HOME SEN"|translate}}"
        </p>
    </div>
    <a routerLink="/calendar" class="box1" data-aos="fade-down" data-aos-offset="300">
        <img class="EventsImg" src="assets/images/calendar.JPG" alt="" />
        <div class="test"> </div>
        <div class="content1">{{"CALENDAR"|translate}}</div>
        <div class="overlay">
        </div>
    </a>

    <div class="box2" data-aos="fade-down" data-aos-offset="300">
        <img class="EventsImg" src="assets/images/Gallery.JPG" alt="" />
        <div class="test"> </div>
        <div class="content1">{{"GALLERY"|translate}}</div>
        <div class="overlay">
        </div>
    </div>

    <a routerLink="/JCC" class="box3" data-aos="fade-down" data-aos-offset="300">
        <img class="EventsImg" src="assets/images/1.jpeg" alt="" />
        <div class="test"> </div>
        <div class="content2">{{"JCC"|translate}}</div>
        <div class="overlay">
        </div>
    </a>

    <div class="box4" data-aos="fade-down" data-aos-offset="300">
        <img class="EventsImg " src="assets/images/merch.jpeg" alt="" />
        <div class="test"> </div>
        <div class="content1 ">{{"MERCHANDISE"|translate}}</div>
        <div class="overlay">
        </div>
    </div>
</div>